@model MS.ViewModels.TaskViewModel

<div class="single-task">
    <div data-taskid="@Model.Id">
        <div class="">
            <div class="row">
                <div class="col-sm-6">
                    <p>
                        @Model.Id.ToString() - @Model.Title
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <p>
                        Created: @Model.CreatedDate.ToString("dd/MM/yyyy") | Due: @Model.DueDate | Status: @Model.Status | Next Action : @Model.NextActionDate
                    </p>
                </div>
                <div class="col-sm-2">
                    <p>
                        Assigned to: @Model.AssignedTo
                    </p>
                </div>
                <div class="col-sm-2">
                    <p>
                        @Model.Type
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="comments-wrapper" data-commentpanel="@Model.Id">
        <div data-comments="@Model.Id"></div>

        <div data-addcomment="@Model.Id" class="add-comment">
            <form id="addcomment-@Model.Id">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.Comment.Content, new {  @class = "form-control", @placeholder = "Content", @rows = "4", @cols="120", @name="content" , @id="content-" + @Model.Id })
                            @Html.ValidationMessageFor(model => model.Comment.Content, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.Comment.Type,  new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EnumDropDownListFor(model => model.Comment.Type,  new { @class = "form-control", @id = "type-" + @Model.Id })
                                @Html.ValidationMessageFor(model => model.Comment.Type, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-8">
                            @Html.LabelFor(model => model.Comment.RemainderDate,  new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.Comment.RemainderDate, new { @type = "date",  @class = "form-control", @id = "remainderdate-" + @Model.Id })
                                @Html.ValidationMessageFor(model => model.Comment.RemainderDate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10">
                            <input type="button" value="Add Comment" class="btn btn-default" data-savecomment="@Model.Id" />
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="row">
            <div class="col-sm-2">
                <a href="javascript:void(0)" class="btn btn-primary" data-openadd="@Model.Id">Add Comment</a>
            </div>
        </div>
    </div>
</div>

